# Python bytecode and caches
__pycache__/
.pytest_cache
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Ruff cache – regenerates automatically
.ruff_cache/

# Sphinx build
_build/
main.rst
modules.rst
