default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  # General pre-commit checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Commit linting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, chore]

  # Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    files: ^(pyproject\.toml|src/app/fp_car_tasks/.*\.py|src/app/fp_car_monitoring/.*\.py)$
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
